// COLORS 
$light-blue: #CBE1F3;
$blue: #24689F;
$text-blue: $blue;
$light-red: #E5B9B7;
$red: #C0504D;
$text-red: $red;
$light-green: #CDDDAC;
$green: #9BBB54;
$text-green: #718B37;
$light-purple: #CCC1D9;
$purple: #8064A2;
$text-purple: $purple;
$light-orange: #FBD5B5;
$orange: #F79646;
$text-orange: $orange;
$light-gray: #F2F2F2;
$gray: #595959;
$text-gray: $gray;
$light-black: #999999;
$black: #000000;
$text-black: $black;
$yellow: #FFFECC;